@font-face {
    font-family: 迫真宋体;
    src: url('ttss.ttf')
}

table {
    margin: 0;
    padding: 0;
    font-size: 9pt;
    font-family: '迫真宋体1', '宋体';
    color: #937639;
    line-height: 0.9;
}

.dnfmy {
    font-family: 宋体;
    background-image: -webkit-linear-gradient(bottom, #F8C63D, #CC66E7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.神话 {
    font-family: 宋体;
    background-image: -webkit-linear-gradient(bottom, #F8C63D, #CC66E7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.太初 {
    font-family: 宋体;
    background-image: -webkit-linear-gradient(bottom, #98C7A5, #809E99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.dnfep {
    color: #FFB11B
}

.史诗 {
    color: #FFB11B
}

.dnfye {
    color: #FFF000
}

.char {
    color: #FF8200
}

.dnfred {
    color: #ff0000
}

.dnfun {
    color: #FF00FF
}

.dnfset {
    color: #78FF1E
}

.神器 {
    color: #FF00FF
}

.dnfhui {
    color: #969696
}

.dnfhui2 {
    color: #808080
}

.dnfra {
    color: #B36BFF
}

.稀有 {
    color: #B36BFF
}

.dnfde {
    color: #AF8FAC
}

.dnfco {
    color: #68D5ED
}

.高级 {
    color: #B36BFF
}

.dnfle {
    color: #FF7800
}

.myths {
    color: #8C652F
}

.传说 {
    color: #FF7800
}

.dnfch {
    color: #FF6666
}

.勇者 {
    color: #FF6666
}

.dnfset {
    color: #78FF1E
}

.bai {
    color: #FFFFFF
}


.namaste {
    color: #937639
}


.mainja {
    color: #937639
}


.mainhoon {
    color: #C1A237
}


.mainjarahoon {
    color: #B3A987
}

.mainjarahoon2 {
    color: #C1A237
}

.mainganongi {
    color: #86784F
}

.geeee {
    color: #4AA256
}

.gradne {
    color: #4AA256
}